h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    /* color: rgb(183, 255, 0); */
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: white;
    font-size: 120px;
    position: relative;
    color: transparent;
    margin: 10px;
    text-align: center;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(0, 0, 0);
}

nav {
    text-align: center;
    border: 1px solid white;
}

a:link {
    color: white;
    text-decoration: none;
    border-right: 1px solid white;
    padding-right: 10px;
    padding-left: 10px;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover {
    color: greenyellow;
}


.cdresponse {
    display: grid;
    margin: 1rem;
    width: 100vw;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 600px;
}

#response1 {
    width: 400px;
    height: 520px;
    margin: .5rem;
    padding: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    border: 1px solid white;
    color: rgb(255, 255, 255);
}

#response2 {
    width: 400px;
    height: 500px;
    margin: .5rem;
    padding: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    border: 1px solid white;
    color: rgb(255, 255, 255);
}

#response3 {
    width: 400px;
    height: 500px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    margin: .5rem;
    padding: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
}

#response4 {
    width: 400px;
    height: 500px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    margin: .5rem;
    padding: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
}

#response5 {
    width: 400px;
    height: 500px;
    border: 1px solid white;
    color: rgb(255, 255, 255);
    margin: .5rem;
    padding: 1rem;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
}