body {
    background-color: whitesmoke;
    text-align: center;
    align-content:flex-start;
}

h1 {
    font-size: 60px;
    color: rgb(96, 189, 255);
    text-align: center;
    font-family: "cirruscumulus";
}

@font-face {
  font-family: "cirruscumulus";
  src: url(CirrusCumulus1.otf);
}

main {
    background: #fff;
    width: 90vw;
    margin: 0 auto; 
  }
  
  article {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    width: 500px;
    height: 600px;

  }

  #c {
grid-column-start: 3;
grid-row-start: 1;
color: black;
  }
  
  section {
    background: #ccc;
    padding: 1rem;
  
  }