body {
  background-color: rgb(34, 34, 34);
}

h1 {
  font-size: 6vw;
  color: rgb(76, 75, 75);
  text-align: left;
  font-family: 'Gothic A1', sans-serif;
  transform: translate(0,-7vh);
  text-align: justify;
}

h1:hover {
  color: rgb(243, 242, 236);
}
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:100,400');

main {
  width: 90vw;
  margin: 0 auto;
}

article {
  gap: 1rem;
  width: 30vw;
  height: auto;
  justify-content: left;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(163, 140, 99);
}
a:link {
  color: rgb(158,161,32);
  text-decoration: none;
}
a:visited {
  color: rgb(163, 140, 99);
  text-decoration: none;
}
a:hover {
  color: rgb(249, 248, 22);
  text-decoration: none;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 100vw;
  gap: 1rem;
  text-align: left;
}


section {
  padding: 1rem;

}

#a {
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: 1px solid rgb(243, 242, 236);
}

#b {
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: 1px solid rgb(243, 242, 236);
}

#c {
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: 1px solid rgb(243, 242, 236);
}

#d {
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: 1px solid rgb(243, 242, 236);
}

#e {
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: 1px solid rgb(243, 242, 236);
}

#f {
  grid-column-start: 5;
  grid-column-end: 5;
  grid-row-start: 1;
  border-bottom: 1px solid rgb(243, 242, 236);
}

#g {
  grid-column-start: 1;
  grid-column-end: 5;
  border-bottom: 1px solid rgb(243, 242, 236);
}

.number {
font-size: 1.2rem;
float: right;
}