body {
    background: rgb(219, 228, 235);
}
/* .container {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6,1fr);
    height: 100vw;
  } */

#container{
  rotate:-90deg;
  transform: translate(-50vw,0);
  transform-origin: top left;
  width: 100vh; 
}

.candle{
  padding: 30px 0;
  border-bottom: 1px solid white;
  height: 50px;
  overflow: hidden;
  transition: height 500ms;
}
.candle:hover{
  height: 500px;
}

.hidden{
  display: none;
}

.candle:hover .hidden{
  display: block;
}
h1 {
    color: black;
    font-size: 6vw;
    position: relative;
    font-family: 'Gothic A1', sans-serif;
    font-weight: 700;
    /* transform: translate(-13vw,27vw);
    rotate: -90deg; */
  }

  .line-1 {
    width: .25vw;
    height: 62vw;
    background: black;
    grid-column-start: 5;
    grid-row-start: 1;
    transform: translate(-800px,-50px)

  }
  .line-2 {
    width: .25vw;
    height: 62vw;
    background: black;
    grid-column-start: 6;
    grid-row-start: 1;

  }
  .line-3 {
    width: .25vw;
    height: 62vw;
    background: black;
    grid-column-start: 7;
    grid-row-start: 1;

  }
  .line-4 {
    width: .25vw;
    height: 62vw;
    background: black;
    grid-column-start: 8;
    grid-row-start: 1;

  }
  .line-5 {
    width: .25vw;
    height: 62vw;
    background: black;
    grid-column-start: 9;
    grid-row-start: 1;
  }
  .line-6 {
    width: .25vw;
    height: 62vw;
    background: black;
    grid-column-start: 10;
    grid-row-start: 1;
  }
  .line-7 {
    width: .25vw;
    height: 62vw;
    background: black;
    grid-column-start: 11;
    grid-row-start: 1;
  }
  .line-8 {
    width: .25vw;
    height: 62vw;
    background: black;
    grid-column-start: 12;
    grid-row-start: 1;
  }
  
  .intro {
    grid-column-start: 9;
    grid-column-end: 7;
    grid-row-start: 2;
    transform: translate(-7vw, -4vw);
    text-align: justify;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.25vw;
  }

  .buttons {
    grid-column-start: 4;
    grid-row-start: 2;
    color: black;
    text-align: left;
    top: 6vw;
    font-family: 'Gothic A1', sans-serif;
    font-size: 1.5vw;
    transform: translate(3vw,-9vw);
    font-weight: bold;

  }

  .brand {
    rotate: 90deg;
    transform : translate(0px,0);
  }

  .name {
    font-family: 'Gothic A1', sans-serif;
    rotate: 90deg;
    
  }
  .price {
    rotate: 90deg;
  }
  .scent {
    rotate: 90deg;
  }
  .size {
    rotate: 90deg;
  }
  .setting {
    rotate: 90deg;
  }
  .description {
    font-family: 'Gothic A1', sans-serif;
    rotate: 90deg;
    width: 500px;
   
    
  }

  @media only screen and (max-width: 600px) {

    .candle:hover{
      height: 400px;
    }
  }