h1 {
    color: rgb(32, 13, 219);
    font-size: 5.8vw;
    position: relative;
    top: 0px;
    font-family: "maax";
    font-weight: 700;
    text-align: left;
    margin: 3vw;
}

@font-face {
    font-family: "maax";
    src: url(assets/maax.otf);
}

@font-face {
    font-family: "maaxthin";
    src: url(assets/maaxthin.otf);
}

p {
    color: rgb(0, 0, 0);
    width: auto;
    font-family: "maaxthin";
    text-align: center;
    white-space: nowrap;
    font-size: 2.05vw;
    margin-top: auto;


}

body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family: "maaxthin";
    font-size: 1.8vw;
    background-image: linear-gradient(to right, rgba(43, 114, 66, 0.1) 2px, transparent 2px),
        linear-gradient(to bottom, rgba(7, 63, 23, 0.1) 2px, transparent 2px);
    background-size: 80px 80px;
    background-position: center;
}

#container {
    display: grid;
    grid-template-columns: auto;
    height: 100vh;
    width: 100vw;
}

.handicap {
    margin-left: 10vw;
    margin-top: 5vw;
    color: rgb(32, 13, 219);
    opacity: 0;
    transform: translateX(-50%);
    animation: slide-in 0.5s ease-in-out forwards;

}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slide-in2 {
    from {
        opacity: 0;
        transform: translateX(100%);
    }

    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.total {
    text-align: left;
    color: rgb(32, 13, 219);
    /* animation: slide-in2 0.5s ease-in-out forwards; */
    /* animation-delay: 1s; */
    position: fixed;
    margin-left: 3vw;
    bottom: -3vh;
    width: auto;


}

.text {
    font-family: "maaxthin";
    font-size: 1.5vw;
}

.number {
    font-size: 6vw;
    font-weight: 100;
    color: white;
    -webkit-text-stroke: 2px rgb(32, 13, 219);
}

.number1 {
    font-size: 1.8vw;
    font-weight: 100;
    color: rgb(32, 13, 219);
    font-family: "maax";

}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: rgb(255, 255, 80);
    text-decoration: none;
}

h2 {
    font-family: "maax";
}

.circle {
    position: relative;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #fff;
    background-color: rgb(32, 13, 219);
    margin: 10px;
    padding: 5px;
    transform: translate(0, 0);
    transform-origin: 0 0;
    overflow: hidden;


}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translate(-1px, 1px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translate(1px, -1px);
    }

    100% {
        transform: translate(0, 0);
    }
}

.circle:hover {
    height: 100%;
    animation-fill-mode: forwards;
    animation: shake 1s infinite;

}

#staten {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    grid-column-start: 1;
    grid-row-start: 3;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 8vw;
    top: 10vh;
}

#staten::before {
    content: "0.0647%";
    display: block;
    color: rgb(32, 13, 219);
    position: absolute;
    font-size: 1vw;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: rgb(255, 255, 80);
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
}

#staten:hover::before {
    height: 15%;
    transform: translateY(0);
}

#bronx {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    grid-column-start: 1;
    justify-self: end;
    align-items: center;
    justify-content: center;
    display: flex;
    top: 10vh;
    left: 13vw;
}

#bronx::before {
    content: "0.2766%";
    display: block;
    color: rgb(32, 13, 219);
    position: absolute;
    font-size: 1vw;

    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    background-color: rgb(255, 255, 80);
}

#bronx:hover::before {
    height: 20%;
    transform: translateY(0);
}

#brooklyn {
    width: 310px;
    height: 310px;
    border-radius: 50%;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-row-start: 3;
    left: 11vw;
    top: -8vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

#brooklyn::before {
    content: "0.2447%";
    display: block;
    position: absolute;
    font-size: 1vw;

    color: rgb(32, 13, 219);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    background-color: rgb(255, 255, 80);
}

#brooklyn:hover::before {
    height: 15%;
    transform: translateY(0);
}

#queens {
    width: 440px;
    height: 440px;
    border-radius: 50%;
    grid-column-start: 2;
    grid-row-start: 2;
    align-items: center;
    justify-content: center;
    display: flex;
    left: 13vw;
    top: -8vh;

}

#queens::before {
    content: "0.1484%";
    display: block;
    position: absolute;
    font-size: 1vw;
    color: rgb(32, 13, 219);
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    background-color: rgb(255, 255, 80);
}

#queens:hover::before {
    height: 15%;
    transform: translateY(0);
}

#manhattan {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    grid-column-start: 1;
    grid-row-start: 2;
    justify-self: end;
    top: 10vh;
    left: 9vw;
    align-items: center;
    justify-content: center;
    display: flex;
}

#manhattan::before {
    content: "0.5654%";
    display: block;
    padding: 1px;
    position: absolute;
    color: rgb(32, 13, 219);
    font-size: .7vw;
    bottom: 0;
    left: 0;
    width: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    transform-origin: bottom;
    background-color: rgb(255, 255, 80);
}

#manhattan:hover::before {
    height: 30%;
    transform: translateY(0);
}

.borough {
    display: grid;
    width: auto;
    height: auto;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 100vw;
    font-family: "maax";
    position: relative;
    padding: 100px;
}

.info {
    /* margin: 3vw; */
    text-align: left;
    position: absolute;
    align-self: start;
    justify-self: end;
    font-size: 1.3vw;
    font-family: "maaxthin";
    width: 35vw;
    border: 1px solid black;
    padding: 0.7vw;

}

@media only screen and (max-width: 600px) {
    #container {
        width: 600px;
    }
    h1 {
        font-size: 4.5vw;
        margin-left: 3vw;
        position: relative;
    }
 
    p {
        font-size: 2vw;
        text-align: left;
        margin-left: 3vw;
    }

    .total {
        font-size: 2vw;
        margin-left: 3vw;
        margin-bottom: 320px;
    }

    .number {
        font-size: 5vw;
        -webkit-text-stroke: 1px solid rgb(32, 13, 219);;
    }

    .number1 {
        font-size: 2vw;
    }

    .info {
        justify-self: start;
    }

    .circle {
        font-size: 1.5vw;
        margin: auto;
    }

    .text {
        bottom: -100px;
    }

    #staten {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        grid-column-start: 1;
        grid-row-start: 3;
        align-items: center;
        justify-content: center;
        display: flex;
        left: 8vw;
        top: 10vh;
    }

    #staten::before {
        content: "0.0647%";
        display: block;
        color: rgb(32, 13, 219);
        position: absolute;
        font-size: 1vw;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        background-color: rgb(255, 255, 80);
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        transform-origin: bottom;
    }

    #staten:hover::before {
        height: 15%;
        transform: translateY(0);
    }

    #bronx {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        grid-column-start: 1;
        justify-self: end;
        align-items: center;
        justify-content: center;
        display: flex;
        top: 10vh;
        left: 13vw;
    }

    #bronx::before {
        content: "0.2766%";
        display: block;
        color: rgb(32, 13, 219);
        position: absolute;
        font-size: 1vw;

        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        background-color: rgb(255, 255, 80);
    }

    #bronx:hover::before {
        height: 20%;
        transform: translateY(0);
    }

    #brooklyn {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        grid-column-start: 2;
        grid-row-start: 2;
        grid-column-start: 2;
        grid-row-start: 3;
        left: 11vw;
        top: -8vh;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #brooklyn::before {
        content: "0.2447%";
        display: block;
        position: absolute;
        font-size: 1vw;

        color: rgb(32, 13, 219);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        transform-origin: bottom;
        background-color: rgb(255, 255, 80);
    }

    #brooklyn:hover::before {
        height: 15%;
        transform: translateY(0);
    }

    #queens {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        grid-column-start: 2;
        grid-row-start: 2;
        align-items: center;
        justify-content: center;
        display: flex;
        left: 13vw;
        top: -8vh;

    }

    #queens::before {
        content: "0.1484%";
        display: block;
        position: absolute;
        font-size: 1vw;
        color: rgb(32, 13, 219);
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0%;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        transform-origin: bottom;
        background-color: rgb(255, 255, 80);
    }

    #queens:hover::before {
        height: 15%;
        transform: translateY(0);
    }

    #manhattan {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        grid-column-start: 1;
        grid-row-start: 2;
        justify-self: end;
        top: 10vh;
        left: 9vw;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    #manhattan::before {
        content: "0.5654%";
        display: block;
        padding: 1px;
        position: absolute;
        color: rgb(32, 13, 219);
        font-size: .7vw;
        bottom: 0;
        left: 0;
        width: 100%;
        transform: translateY(100%);
        transition: transform 0.3s ease-in-out;
        transform-origin: bottom;
        background-color: rgb(255, 255, 80);
    }

    #manhattan:hover::before {
        height: 30%;
        transform: translateY(0);
    }

    .borough {
        padding: 20px;
        margin-left: 3vw;
        width: 100vw;
    }
}


/* - position of circles moving when animation starts
- animation outlining border of grid
- fill circle 

-link handicap
- style chart
- arrows to next borough
- handicap symbol

-overflow hidden
- connect home page to list view
- add visual indicator 
    - circles on top from the home page indicating what percentage is handicap accessible out of all toilets in borough*/